<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classify 102 Flowers</div>
    <p>
      This model was created by <a href="https://science4performance.com/">science4performance</a>, using the <a href="https://www.fast.ai/">fast.ai library.</a>
      <br>It was trained using the dataset created and kindly made available by Maria-Elena Nilsback and Andrew Zisserman, 
      <br> <a href="http://www.robots.ox.ac.uk/~vgg/data/flowers/102/index.html">Visual Geometry Group, Department of Engineering Science </a>
      University of Oxford, United Kingdom
      
      <br>The model achieved an accuracy of 80% on a test set of <a href="http://www.robots.ox.ac.uk/~vgg/data/flowers/102/categories.html">102 flowers. </a>
      It works best on full frame close up images of a single flower
     
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyse</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
